
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


*{
    box-sizing: border-box;
    margin :0;
    padding:0;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background:#333;
    padding:0.25rem;
}
.navbarList{
    list-style:none;
    display:flex;
}
.menu{display: none;}

.logo{
    color:rgb(182, 196, 64);
}

.logo__icon{
    color:red;
}
.navbarList li{
    font-family: 'Roboto';
    padding:10px 20px;
    color:#fff;


}

.navbarList li:hover{
    background:rgba(202, 126, 12, 0.2);
    border-radius: 5px;
}
@media(max-width:600px){
    nav{
        flex-direction: column;
    }
    
}


/* showcase */

.showcase{
    height:300px;
}

.showcase div{
    width:100%;
    /* height:600px; */
}
.showcase img{
    display:block;
    width:100%;
    /* height:100vh; */
}